name: Test Lint and Format

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.py'

jobs:
  test-lint-format:
    runs-on: ubuntu-latest

    # dummy token for required bot env variable
    env:
      TOKEN: foo
      VIEW_KEY: bar

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install uv and dependencies
        run: |
          pip install uv
          uv sync --frozen

      - name: Lint
        run: uv run ruff check
      - name: Format
        run: uv run ruff format --check

      - name: Test
        run: uv run pytest -v --disable-warnings
